<div>
    <table>
        <tr>
            <td><label>Email</label></td>
            <td><input type="text" required [(ngModel)]="authDetail.emailid"><br></td>
        </tr>
        <tr>
            <td><label>Password</label></td>
            <td><input type="password" required [(ngModel)]="authDetail.password"><br></td>
        </tr>
        <tr>
            <td><label>Name</label></td>
            <td><input type="text" required [(ngModel)]="customerObj.name"><br></td>
        </tr>
        <tr>
            <td><label>Phone Number</label></td>
            <td><input type="text" required [(ngModel)]="customerObj.phoneNumber"><br></td>
        </tr>
        <tr>
            <td><label>Address</label></td>
            <td><input type="text" required [(ngModel)]="customerObj.address"><br></td>
        </tr>
        <tr>
            <td><label>Total Amount</label></td>
            <td><input type="number" required [(ngModel)]="customerObj.totalAmount"><br></td>
        </tr>
        <tr>
            <td><label>Product Preferences</label></td>
            <td><input type="checkbox" id="shoes" name="shoes" value="Shoes">
                <label for="shoes"> Shoes</label>
            <input type="checkbox" id="watches" name="watches" value="Watches">
                <label for="watches"> Watches</label>
            <input type="checkbox" id="mobile" name="mobile" value="Mobile">
                <label for="mobile"> Mobile Phones</label></td>
        </tr>
        <tr>
            <td><button type="submit" (click)="addUser()" routerLink="/home">Register</button></td>
        </tr>
    </table>
    <!-- <p>{{ authDetail2 | json }}</p> -->
</div>